body {
    background-color: #FFFFFA;
    margin: 0;
    padding: 0;
    border: 5px #FFB20F;
    border-style: solid solid dotted solid;
}

#header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #1C0221;
    margin-right: 65px;
}

.texto-logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #1C0221;
    text-align: center;
    justify-content: flex-start;
    display: flex;
}

.box-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 90px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #C03221;
    text-decoration: none;
}

a:hover {
    text-decoration: overline dotted;
    color: #FFB20F;
}

.avatarLogo {
    border-radius: 50%;
}

.logo {
    width: 48px;
    height: 48px;
    gap: 10px;
}

#btn-mobile {
    display: none;
}

#menu {
    list-style: none;
    padding: 0;
}

#menu li {
    display: inline;
}

#menu li a {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: center;
    color: black;
    text-decoration: none;
}

#menu li a:hover {
    text-decoration: underline 3px #FFB20F;
}

.mainContainer {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.subtitulo {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #25283D;
    font-style: normal;
    color: #FFB20F;
    text-decoration: none;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    text-decoration: none;
    color: #C03221;
    margin: 0;
}

.descricao {
    width: 1141px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    color: #1C0221;
    text-decoration: none;
}

.socialContainer {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: auto;
    gap: 10px;
    color: #C03221;
}

.socialContainer a:link {
    color: #C03221;
}

.socialContainer a:visited {
    color: inherit;
}

.socialContainer a:hover {
    color: #FFB20F;
}

.contato {
    margin: auto;
    margin-top: 141px;
    width: max-content;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}

.boxContato {
    display: block;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    width: 800px;
    height: 180px;
    margin: auto;
}

.textoContato {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.mandeUmOi {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background: #1C0221;
    width: 200px;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: #F2F2F2;
    text-align: center;
    text-decoration: none;
}

.mandeUmOi a:visited {
    color: #F2F2F2;
    text-decoration: none;
}

.mandeUmOi a:hover {
    color: #FFB20F;
    text-decoration: none;
}

.mandeUmOi a:link {
    color: #F2F2F2;
    text-decoration: none;
}

.mandeUmOi a:active {
    color: #FFB20F;
}

footer {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


/* responsive */

@media screen and (max-width: 1220px) {
    #header {
        flex-direction: column;
    }
    .mainContainer {
        width: 100%;
        text-align: center;
    }
    .titulo {
        width: 100%;
    }
    .descricao {
        width: 100%;
        font-size: 18px;
    }
    .subtitulo .socialContainer .subtitulo,
    .titulo,
    .contato,
    .textoContato,
    .socialContainer {
        width: 100%;
        justify-content: center;
    }
    .box-logo {
        align-self: center;
        margin: 0;
    }
    .boxContato {
        width: 80%;
    }
    .textoContato {
        font-size: 18px;
        text-align: center;
    }
    .contato {
        text-align: center;
        font-size: 18px;
    }
    #header {
        margin: 0;
    }
}

@media screen and (max-width: 520px) {
    #menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 150px;
        right: 0px;
        height: 0;
        transition: 0.6s;
        background: #FFFFFA;
        border: 0px;
        align-items: center;
        visibility: hidden;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        cursor: pointer;
        font-size: 1rem;
        border: none;
    }
    #nav.active #menu {
        display: flex;
        height: 100vh;
        visibility: visible;
        border: 5px solid #FFB20F;
        border-top: 0;
        border-bottom: 3px dashed #FFB20F;
        box-sizing: border-box;
        gap: 0.5rem
    }
    #burger {
        width: 20px;
        border-top: 2px solid;
        display: block;
        color: #FFB20F;
    }
    #burger::after,
    #burger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
    }
    #nav.active #burger {
        border-top-color: transparent;
    }
    #nav.active #burger::before {
        transform: rotate(135deg);
        position: absolute;
    }
    #nav.active #burger::after {
        transform: rotate(-135deg);
        position: absolute;
    }
}

@media screen and (max-width: 350px) {
    .titulo {
        font-size: 30px;
    }
    .subtitulo {
        font-size: 16px;
    }
    .descricao {
        font-size: 14px;
    }
}